  <div class="jumbotron">
    <h1>Bienvenido a Salsabrosas</h1>
    <p>aprende como preparar salsas para tu antojito favorito</p>
    <%= link_to "Empieza!","",class: "btn btn-success" %>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <h2 class="midrow">Ver recetas</h2>
      <h3>Ver las recetas que mas te encantan...</h3>
      <p><%= link_to "Ir a recetas", "", class:"btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
      <h2 class="midrow">Ver recetas</h2>
      <h3>Ver las recetas que mas te encantan...</h3>
      <p><%= link_to "Ir a recetas", "", class:"btn btn-warning btn-small" %></p>
    </div>
    <div class="col-lg-4">
      <h2 class="midrow">Ver recetas</h2>
      <h3>Ver las recetas que mas te encantan...</h3>
      <p><%= link_to "Ir a recetas", "", class:"btn btn-warning btn-small" %></p>
    </div>
  </div>